.scroll {
  overflow-y: scroll;
  width: 60%;
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: 500px;
}

.stats-link {
  font-size: 12px;
}

.fight-date {
  font-size: 10px;
  float: right;
}

.fighter {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fighter-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fighter-record {
  font-size: 10px;
}

.fight-results {
  width: 100%;
  height: 100%;
}

.winner {
  color: lightblue;
}

.fight-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fight-cat {
  position: relative;
  text-align: center;
}

.weight-class {
  font-weight: bold;
}

.betslip-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: 500px;
}
.date {
  font-size: 11px;
}

.betslip-fighter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid black;
  background-color: lightblue;
  height: 300px;
}

.bet-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 500px;
}

.bet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.current-fight {
  font-size: 10px;
}

.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 100%;
}

.stat-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#root {
  background-image: linear-gradient(lightblue, #cdcdcd);
}
